#banner{height:200px;background:url(/assets/img/banner_bg.png) center no-repeat;}
#banner .content{width:1200px;height:200px;background-image:url(/assets/img/banner_1.jpg);background-position:center;margin:0 auto;position:relative;}
#banner .content img{position:absolute;bottom:5px;right:10px;}
#content{text-align:center;}
#content .jclby_zx{width:1200px;height:auto;border:1px solid #eaeaea;margin:0 auto;margin-top:12px;overflow:hidden;}
#content .jclby_zx h3{background-image:url(/assets/img/title_zhongxue.png);background-position:center;background-repeat:no-repeat;width:241px;height:26px;margin-top:10px;}
#content .jclby_zx li{width:196px;height:260px;border:1px solid #eaeaea;margin:10px 20px 20px;float:left;}
#content .jclby_zx li:hover{background-color:#eee;}
#content .jclby_zx li div{width:196px;height:209px;text-align:center;background:none center no-repeat;}
#content .jclby_zx li div img{margin-top:12px;}
#content .jclby_zx li p{text-align:center;width:196px;font-size:13.2px;color:#8d8d8d;line-height:23px;background-color:#fff;height:51px;margin-top:5px}
#content .jclby_zx li p img{float:right;margin:4px 14px 0 0;}

#content .jclby_xx{width:1200px;height:auto;border:1px solid #eaeaea;margin:0 auto;margin-top:12px;overflow:hidden;}
#content .jclby_xx h3{background-image:url(/assets/img/title_xiaoxue.png);background-position:center;background-repeat:no-repeat;width:241px;height:26px;margin-top:10px;}
#content .jclby_xx li{width:196px;height:260px;border:1px solid #eaeaea;margin:10px 20px 20px;float:left;}
#content .jclby_xx li div{width:196px;height:209px;text-align:center;background:none center no-repeat;}
#content .jclby_xx li:hover{background-color:#eee;}
#content .jclby_xx li div img{margin-top:12px;}
#content .jclby_xx li p{text-align:center;width:196px;font-size:13.2px;color:#8d8d8d;line-height:23px;background-color:#fff;height:51px;margin-top:5px}
#content .jclby_xx li p img{float:right;margin:4px 14px 0 0;}

#content .jclby_ye{width:1200px;height:auto;border:1px solid #eaeaea;margin:0 auto;margin-top:12px;overflow:hidden;}
#content .jclby_ye h3{background-image:url(/assets/img/title_youer.png);background-position:center;background-repeat:no-repeat;width:241px;height:26px;margin-top:10px;}
#content .jclby_ye li{width:196px;height:260px;border:1px solid #eaeaea;margin:10px 20px 20px;float:left;}
#content .jclby_ye li div{width:196px;height:209px;text-align:center;background:none center no-repeat;}
#content .jclby_ye li:hover{background-color:#eee;}
#content .jclby_ye li div img{margin-top:12px;}
#content .jclby_ye li p{text-align:center;width:196px;font-size:13.2px;color:#8d8d8d;line-height:23px;background-color:#fff;height:51px;margin-top:5px}
#content .jclby_ye li p img{float:right;margin:4px 14px 0 0;}


